@page "/ParentComponent"

<h3 class="text-danger">Parent Child Component</h3>

<CascadingValue Value="@messageForGrandChild" Name="MessageFromGrandParent">
    <CascadingValue Value="@LuckyNumber" Name="GrandParentLuckyNumber">
        <ChildComponent @ref="childComp"
            OnClickBtnMethod="ShowMessage" 
            Title="This title is passed as parameter from Parent Component">
            <ChildContent>Render Fragment From Parent! WooHoo</ChildContent>
            <DangerChildContent>Danger Content from Render Fragment! WooHoo</DangerChildContent>
        </ChildComponent>
    </CascadingValue>
</CascadingValue>
<AnotherChildComponent placeholder="Placeholder default"></AnotherChildComponent>

<p><b>@messageText</b></p>

<div class="row">
    <button class="btn btn-success" @onclick="() => childComp.ShowToastrSucces()">Show alert</button>
</div>

@code {
    private ChildComponent childComp;
    private string messageForGrandChild = "This is a message from grand parent";
    private string LuckyNumber { get; set; } = "7";

    private string messageText = "";

    private void ShowMessage(MouseEventArgs e)
    {
        messageText = "Blazzing text from parent";
    }

}
